<div class="nav bg-dark">
    <div class="brand">
        <p><i class="fas fa-car"></i>
            <span style="color: #29CA41;">park</span>ya
            <span style="color: #00AAFF;">ni</span>
            <span style="color: #FFBD2E;">ed car</span>
        </p>
    </div>

    <div class="home">
        <a href="/admin/home"><i class="fas fa-home"></i> home</a>
    </div>

    <div class="reg-user">
        <a href="/admin/register"><i class="fas fa-user-plus"></i> register new user</a>
    </div>

    <div class="user-info">
        <p>
            Logged in as
            <span class="username">
                <%= admin.username %> <i class="fas fa-caret-down"></i>
                <a href="/logout" class="logout bg-dark">logout</a>
            </span>
        </p>
    </div>

</div>