<div class="brand">
    <p><i class="fas fa-car"></i>
        <span style="color: #29CA41;">park</span>ya
        <span style="color: #00AAFF;">ni</span>  
        <span style="color: #FFBD2E;">ed car</span>
    </p>
</div>