<div class="footer bg-darker-gray">
        <div class="links">
            <a href="#">contact us</a>
            <a href="#">about us</a>
            <a href="/terms_conditions">terms & conditions</a>
        </div>

        <p class="fg-gray">Copyright &copy; 2019</p>
</div>