<div class="free-space">
    <div class="toll-booth">
        <p><i class="fas fa-store-alt"></i> toll booth</p>
    </div>

    <div class="entrance">
        <p>entrance</p>
    </div>

    <div class="exit">
        <p>exit</p>
    </div>
</div>