<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONTACT US</title>
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
</head>
<body>


    <div class="contact-parent">
        <div class="terms-brand-cont">
            <% include ../partials/brand %>
        </div>

        <section>
            <h1>contact us</h1>
            <p>Contact #: 0905 262 3881</p>
            <p>Tel #: 000 - 4321</p>

            <div class="links">
                <div class="fb">
                    <a href="#">f</a>
                </div>
                <div class="gmail">
                    <a href="#">G+</a>
                </div>
            </div>
        </section>

        <section>
            <h1>For support</h1>
            <p>just go to the link below</p>
            <a href="#">support@parkya.com</a>
        </section>
    </div>

<% include ../partials/footer %>
</body>
</html>