<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LANDING</title>
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

    <div class="parent">
        <div class="nav bg-dark">
            
            <% include ../partials/brand %>

            <div class="user-info">
                <a href="/login" class="login"><i class="fas fa-user-ninja"></i> Login</a></p>
            </div>
        </div>
        
        <div class="main bg-dark">
            <div class="parking-slot" id="cont">

                <% slots.forEach(slot => { %>
                <div class="slot" id="slot">
                    <p class="letter" id='letter'>
                        <%= slot.slotLetter %>
                    </p>
                    <div class="indicator bg-<%= slot.indicator %>-alpha" id="indicator">
                        <p class="state">
                            <% if (slot.state == 'occupied') { %>
                            <i class="fas fa-car"></i> occupied
                            <% } else if (slot.state == 'vacant'){ %>
                            <i class="far fa-check-circle"></i> vacant            
                            <% } else if (slot.state == 'reserved'){ %>
                            <i class="far fa-calendar-check"></i> reserved
                            <% } else { %>
                            <i class="far fa-check-circle"></i> vacant
                            <% } %>
                        </p>
                    </div>
            
                </div>
                <% }) %>
            </div>

            <% include ../partials/free_space %>
        </div>

        <div class="side">
            <div class="notif-slot bg-dark">
                <p class="heading bg-green"><i class="fas fa-car"></i> slots available</p>
                <p class="label"><%= vacant %></p>
            </div>

            <div class="notif-bal bg-dark">
                    <p class="heading bg-blue"><i class="far fa-check-square"></i> register now!</p>
                    <p class="landing-tag">Just go to the parking booth !</p>
                </div>

            <div class="notif-reserve bg-dark">
                <p class="heading bg-orange"><i class="far fa-bell"></i> welcome to parkya ni ed car</p>

                <p class="landing-tag">
                    convenient & reliable
                </p>
                <p class="location">
                    <i class="fas fa-map-marker-alt"></i> location:
                    <span class="location-lbl">tacloban city, leyte</span>
                </p>
                
                <p class="operating-hours">
                    <i class="far fa-clock"></i> operating hours:
                    <span class="operating-hours-lbl">5am-10pm</span>
                </p>

                <p class="contact">
                    <i class="far fa-id-card"></i> contact #:
                    <span class="contact-lbl">0955-378-4104</span>
                </p>
            </div>

        </div>

        <% include ../partials/footer %>
    </div>

    <script>

        var socket = io.connect('https://parkya.herokuapp.com/');

        
        // listen to server for changes in the slots
        socket.on('signalFromServer', (signal) => {
        // if signal to refresh is true
            if (signal.refresh) {

            // execute GET request
                $.ajax({
                    type: 'GET',
                    url: '/',
                    cache: false,
                    success: function (result) {
                        $('#cont').html($(result).find('#slot'));
                        $('#modal').html($(result).find('.reservation-prompt'));
                        $('.side').html($(result).find('.notif-slot, .notif-bal, .notif-reserve'));
                    },
                });
            }
        })
    </script>
</body>
</html>