<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TERMS & CONDITIONS</title>
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
</head>
<body>

    <div class="terms-parent">
        <h1>Terms & Conditions</h1>

        <h3>For the user:</h3>
        <p>1. Anyone who disobeys ronel will be killed.</p>
        <p>2. Your car must be ferrari.</p>
    </div>
    

    <% include ../partials/footer %>
</body>
</html>