<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TERMS & CONDITIONS</title>
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
</head>
<body>

    <div class="terms-brand-cont">
        <% include ../partials/brand %>
    </div>
    <div class="terms-parent">
        <h1>terms and conditions</h1>
        <section>
            <h2>i. introduction</h2>
            <p>
                These Standard Terms and Conditions written on this webpage shall manage your
                use of our website, Smart Car Parking Systems accessible at https://parkya.herokuapp.com
            </p>
            <p>
                These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to
                accept all terms and conditions written in here. You must not use this Website if you disagree with any of these
                Website Standard Terms and Conditions.
            </p>
        </section>

        <section>
            <h2>ii. accounts</h2>
            <p>
                When you create an account with us, you must provide us information that is accurate, complete, and current at all
                times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your
                account on our Service.
            </p>
            <p>
                You are responsible for safeguarding the password that you use to access the Service and for any activities or
                actions under your password, whether your password is with our Service or a third-party service.
            </p>
            <p>
                You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of
                any breach of security or unauthorized use of your account.
            </p>
        </section>

        <section>
            <h2>iii. intelectual property rights</h2>
            <p>
                Other than the content you own, under these Terms, Smart Car Parking Systems’ company and/or its licensors own all
                the intellectual property rights and materials contained in this Website.
            </p>
        </section>

        <section>
            <h2>iv. restrictions</h2>
            <h4>You are specifically restricted from all of the following:</h4>
            <p>• publishing any Website material in any other media; </p>
            <p>• selling, sublicensing and/or otherwise commercializing any Website material;</p>
            <p>• using this Website in any way that is or may be damaging to this Website;</p>
            <p>• using this Website in any way that impacts user access to this Website;</p>
            <p>• using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to
                any person or business entity;
            </p>
            <p>
                • engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this
                Website;
            </p>
            <p>• using this Website to engage in any advertising or marketing.</p>
            <p>
                Certain areas of this Website are restricted from being access by you and Parking Systems INC. may further restrict
                access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may
                have for this Website are confidential and you must maintain confidentiality as well.
            </p>
        </section>

        <section>
            <h2>v. membership</h2>
            <p>
                The Services of the website may allow you to purchase access to Content or services on a membership basis (“Paid
                Membership”). Paid membership will not renew unless the user decided to renew its membership. We will notify you if
                the price of a Paid Membership increases and, if required, seek your consent to continue. You will be charged every
                time you purchase a reservation and can’t cancel once you already paid. If we cannot charge your payment method for
                any reason (such as insufficient funds), we cannot allow you to reserve a parking slot and you must reload for you
                to continue our services. We reserve the right to cancel your payment if we are unable to successfully charge your
                payment method to reserve a parking slot.
            </p>
        </section>


        <h1>licensed application end user license agreement</h1>

        <section>
            <p>Contents made available through the Website are licensed, not sold, to you. Your license to the website is
                subject to your prior acceptance of either this Licensed Application End User License Agreement (“Standard
                EULA”). The Website provider as Licensor reserves all right not expressly granted to you under this Standard
                EULA. </p>
        </section>

        <section>
            <h2>i. no warranties</h2>
            <p>
                This Website is provided "as is," with all faults, and Smart Car Parking Systems’ company express no
                representations or warranties, of any kind related to this Website or the materials contained on this Website.
                Also, nothing contained on this Website shall be interpreted as advising you.
            </p>
        </section>

        <section>
            <h2>ii. limitation of availability</h2>
            <p>
                In no event shall Smart Car Parking Systems’ company, nor any of its providers, shall be held liable for anything
                arising out of or in any way connected with your use of this Website whether such liability is under contract.
                Smart Car Parking Systems’ company, including its providers shall not be held liable for any indirect,
                consequential or special liability arising out of or in any way related to your use of this Website.
            </p>
        </section>

        <section>
            <h2>iii. indemnification</h2>
            <p>
                You hereby indemnify to the fullest extent Smart Car Parking Systems’ company. from and against any and/or all
                liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of
                any of the provisions of these Terms.
            </p>
        </section>

        <section>
            <h2>iv. severability</h2>
            <p>
                You hereby indemnify to the fullest extent Smart Car Parking Systems’ company. from and against any and/or all
                liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of
                any of the provisions of these Terms.
            </p>
        </section>

        <section>
            <h2>v. variation of terms</h2>
            <p>
                Smart Car Parking Systems’ company is permitted to revise these Terms at any times as it sees fit, and by using
                this Website you are expected to review these Terms on regular basis.
            </p>
        </section>

        <section>
            <h2>vi. assignment</h2>
            <p>
                The Smart Car Parking Systems’ company is allowed to assign, transfer, and subcontract its rights and/or
                obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or
                subcontract any of your rights and/or obligations under these Terms.
            </p>
        </section>

        <section>
            <h2>vii. entire agreement</h2>
            <p>
                These Terms constitute the entire agreement between Smart Car Parking Systems’ company and you in relation to your
                use of this Website, and supersede all prior agreements and understandings.
            </p>
        </section>

        <section>
            <h2>viii. governing law and jurisdiction</h2>
            <p>
                These Terms will be governed by and interpreted in accordance with the laws of the State of the Philippines, and
                you submit to the non-exclusive jurisdiction of the state and federal courts located in the Philippines for the
                resolution of any disputes.
            </p>
        </section>
    </div>
    

    <% include ../partials/footer %>
</body>
</html>